.hmfw-anchor-wrapper {
  margin-top: calc(-1 * var(--hmfw-padding-xxs));
  padding-top: var(--hmfw-padding-xxs);
  max-height: 100vh;
  overflow: auto;
}

.hmfw-anchor {
  position: relative;
  padding-left: var(--hmfw-line-width-bold);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--hmfw-color-text);
  font-size: var(--hmfw-font-size-base);
  line-height: var(--hmfw-line-height);
  list-style: none;
  font-family: var(--hmfw-font-family);
  padding-left: 2px;
}

.hmfw-anchor-wrapper:not(.hmfw-anchor-wrapper-horizontal) .hmfw-anchor::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 2px solid var(--hmfw-color-split);
  content: ' ';
}

.hmfw-anchor-ink {
  position: absolute;
  left: 0;
  display: none;
  transform: translateY(-50%);
  transition: top var(--hmfw-motion-duration-slow) ease-in-out;
  width: 2px;
  background-color: var(--hmfw-color-primary);
}

.hmfw-anchor-ink-visible {
  display: inline-block;
}

.hmfw-anchor-fixed .hmfw-anchor-ink {
  display: none;
}

.hmfw-anchor-link {
  padding: var(--hmfw-padding-xxs) 0;
  padding-inline: var(--hmfw-padding) 0;
}

.hmfw-anchor-link-title {
  position: relative;
  display: block;
  margin-bottom: calc(var(--hmfw-font-size-base) / 14 * 3);
  overflow: hidden;
  color: var(--hmfw-color-text);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all var(--hmfw-motion-duration-slow);
  text-decoration: none;
}

.hmfw-anchor-link-title:only-child {
  margin-bottom: 0;
}

.hmfw-anchor-link-title:hover {
  color: var(--hmfw-color-primary-hover);
}

.hmfw-anchor-link-active > .hmfw-anchor-link-title {
  color: var(--hmfw-color-primary);
}

.hmfw-anchor-link .hmfw-anchor-link {
  padding-block: calc(var(--hmfw-padding-xxs) / 2);
}

/* Horizontal direction */
.hmfw-anchor-wrapper-horizontal {
  position: relative;
}

.hmfw-anchor-wrapper-horizontal::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid var(--hmfw-color-split);
  content: ' ';
}

.hmfw-anchor-wrapper-horizontal .hmfw-anchor {
  overflow-x: scroll;
  position: relative;
  display: flex;
  scrollbar-width: none; /* Firefox */
  padding-left: 0;
}

.hmfw-anchor-wrapper-horizontal .hmfw-anchor::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.hmfw-anchor-wrapper-horizontal .hmfw-anchor-link:first-of-type {
  padding-inline: 0;
}

.hmfw-anchor-wrapper-horizontal .hmfw-anchor-ink {
  position: absolute;
  bottom: 0;
  transition:
    left var(--hmfw-motion-duration-slow) ease-in-out,
    width var(--hmfw-motion-duration-slow) ease-in-out;
  height: 2px;
  background-color: var(--hmfw-color-primary);
}
