.hmfw-space {
  display: inline-flex;
}

.hmfw-space-horizontal {
  flex-direction: row;
}

.hmfw-space-vertical {
  flex-direction: column;
}

.hmfw-space-align-start {
  align-items: flex-start;
}

.hmfw-space-align-end {
  align-items: flex-end;
}

.hmfw-space-align-center {
  align-items: center;
}

.hmfw-space-align-baseline {
  align-items: baseline;
}

.hmfw-space-wrap {
  flex-wrap: wrap;
}

.hmfw-space-item {
  display: inline-flex;
}

.hmfw-space-item-split {
  display: inline-flex;
  align-items: center;
}
