.hmfw-virtual-list {
  box-sizing: border-box;
}

.hmfw-virtual-list-holder {
  box-sizing: border-box;
}

.hmfw-virtual-list-items {
  box-sizing: border-box;
}

.hmfw-virtual-list-item {
  box-sizing: border-box;
}
