.hmfw-divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  border-block-start: 1px solid rgba(5, 5, 5, 0.06);
}

.hmfw-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 24px 0;
}

.hmfw-divider-horizontal.hmfw-divider-with-text {
  display: flex;
  align-items: center;
  margin: 16px 0;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  border-block-start: 0;
}

.hmfw-divider-rail {
  border-block-start: 1px solid rgba(5, 5, 5, 0.06);
}

.hmfw-divider-horizontal.hmfw-divider-with-text .hmfw-divider-rail-start,
.hmfw-divider-horizontal.hmfw-divider-with-text .hmfw-divider-rail-end {
  width: 50%;
  border-block-start-color: inherit;
  border-block-end: 0;
}

.hmfw-divider-horizontal.hmfw-divider-with-text-left .hmfw-divider-rail-start {
  width: 5%;
}

.hmfw-divider-horizontal.hmfw-divider-with-text-left .hmfw-divider-rail-end {
  width: 95%;
}

.hmfw-divider-horizontal.hmfw-divider-with-text-right .hmfw-divider-rail-start {
  width: 95%;
}

.hmfw-divider-horizontal.hmfw-divider-with-text-right .hmfw-divider-rail-end {
  width: 5%;
}

.hmfw-divider-inner-text {
  display: inline-block;
  padding: 0 1em;
}

.hmfw-divider-dashed {
  background: none;
  border-style: dashed;
  border-width: 1px 0 0;
}

.hmfw-divider-dashed .hmfw-divider-rail {
  border-block-start: 1px dashed rgba(5, 5, 5, 0.06);
}

.hmfw-divider-dotted {
  background: none;
  border-style: dotted;
  border-width: 1px 0 0;
}

.hmfw-divider-dotted .hmfw-divider-rail {
  border-block-start: 1px dotted rgba(5, 5, 5, 0.06);
}

.hmfw-divider-horizontal.hmfw-divider-sm {
  margin: 8px 0;
}

.hmfw-divider-horizontal.hmfw-divider-sm.hmfw-divider-with-text {
  margin: 8px 0;
}

.hmfw-divider-horizontal.hmfw-divider-md {
  margin: 16px 0;
}

.hmfw-divider-horizontal.hmfw-divider-md.hmfw-divider-with-text {
  margin: 16px 0;
}

.hmfw-divider-plain.hmfw-divider-with-text {
  color: rgba(0, 0, 0, 0.88);
  font-weight: normal;
  font-size: 14px;
}

.hmfw-divider-vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-inline-start: 1px solid rgba(5, 5, 5, 0.06);
}

.hmfw-divider-vertical.hmfw-divider-dashed {
  border-inline-start-style: dashed;
}

.hmfw-divider-vertical.hmfw-divider-dotted {
  border-inline-start-style: dotted;
}
